<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
<h2>Edit Hangar Listing</h2>
<hr>

<%= render 'form' %>
<center>
<%= link_to 'Show', @hangar %> |
<%= link_to 'Back', hangars_path %>
