<div class="container content">
	<div class="row">
		<!-- Pricing -->
		<div class="col-centered">
			<div class="pricing pricing-active hover-effect">
				<div class="pricing-head pricing-head-active">
					<h3>HangarPro + <span>
					Full Service Lease Management, Payment, and Tennant Communication Platform</span>
					</h3>
					<h4><i></i>Free<i></i>
					<span>
					to list hangars </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled center">
					<li>
						No listing fee - Only pay when hangar is leased
					</li>
					<li>
						Online Leasing System & Secure Bill Pay
					</li>
					<li>
						Custom Map & Listing for each hangar
					</li>
					<li>
						Unlimited Tennant Messaging
					</li>
					<li>
						Payment Processing fee only 3.9%
					</li>
					<li>
						24/7 Support
					</li>				
				</ul>
				<div class="pricing-footer">
					<p>
					
					</p>
 				 <%= link_to('Click Here to Get Started', new_user_registration_path)  %><br> or <br>  <a href="mailto:ssupport@hangarrent.com?Subject=New%20Inquiry%20From%20Website" target="_top">Click here to get in touch with us for more information!</a>
				</div>
			</div>
		</div>
		<!--//End Pricing -->
	</div>
</div>
