<table class="table">
  <thead class="thead-default">
<tr>
	<th>Hangar Number</th>
	<th>Size</th>
	<th>Leased?</th>
	<th colspan="13"></th>
</tr>
  </thead>
  <tbody>  
<tr>
    <% @airport.hangars.each do |hangar| %>
    <tr class="<%= hangar.leased ? 'warning' : 'success' %>">
    <td><%= hangar.hangar_number %></td>
    <td><%= hangar.size %></td>
    <td>
                <% if hangar.leased == false %>
          <%= link_to 'Reserve', pages_lease_path %></td>
          <% else %>
          Currently Leased
          <% end %>

    </td>
      </tr>
    <% end %>
  </tbody>
</table>
