@import "bootstrap-sprockets";
@import "bootstrap";

indent {
	text-indent: 25px;
}

h4 {
	font-weight: bold;
}

.hangar_images {
	text-align: center;
	max-width: 90%;
}


.padding15 {
	padding: 15px;
	max-width: 90%;
}

.two {
	width: 40%;
}

.lease {
	max-width: 60%
}